/* General styles */

body {
  text-align: center;
  background-color: #f2f2f2; /* Light grey color */
}

button {
  border-radius: 20px;
  padding: 1px 20px;
  height: 30px; 
  background-color: white;
  font-weight: bold; 
  border: 2px solid black;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease; /* This makes the change in color smooth */
}

button:hover {
  background-color: #000000; /* Or any color */
  color: #ffffff; /* Or any color */
}

/* Header styles */

.logo-container {
  margin: 20px;
  width: 5%;
}

/* Main content styles */

.checkmark, .ai-container {
  background-color: transparent;
}

.ai-container {
  position: relative;  /* make this a positioned parent */
}

#checkmark {
  position: absolute;
  bottom: 0;  /* position at the bottom-right corner */
  right: 0;
  display: none;  /* initially hidden */
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.title-change-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* to align items vertically */
  padding-bottom: 15px;
}

.ai-container,
.guess-container{
  margin: auto;
  max-width: 640px; /* Adjust the maximum width as needed */
  text-align: center;
}

.ai-container img {
  max-width: 100%;
  height: auto; /* Adjust the maximum height as needed */
  border: 2px solid black;
}

#image-title {
  margin: 0; /* to eliminate default margins on the h2 tag. Adjust if needed */
  flex-grow: 1; /* to let the title take up the remaining space */
  text-align: center;
}

.guess-container,
.input-hint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.guess-container input {
  width: 100; /* Adjust based on your preference */
  padding: 5px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 15px;
}

.input-hint-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 10px;
}

.hint-button {
  width: 100%; /* Make the button full width */
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 4px; /* Added this line */
  transition-duration: 0.4s;
  cursor: pointer;
}

.hint-button:hover {
  background-color: white;
  color: black;
}

/* Message container styles */

.congrats-message,
.try-again-message {
  color: black; /* or any color you prefer */
  display: block;
  font-weight: bold; 
}

.submit-container {
  margin: 40px auto;
  max-width: 640px; /* Adjust the maximum width as needed */
  text-align: center;
}

.submit-button {
  width: 100%; 
  height: 30px;
  font-weight: bold; 
  border: 2px solid black;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.submit-button:hover {
  background-color: #000000; /* Or any color */
  color: #ffffff; /* Or any color */
}

.change-image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 640px; /* Add this line */
  margin: auto; /* Add this line */
}

.previous-button,
.next-button {
  width: 100px; /* Adjust based on your preference */
  height: 30px;
  font-weight: bold;
  border: 2px solid black;
  color: black;
}


